{% extends 'basic.html' %}

{% block title %}پاسورڈ شموشتہ؟ | گنجانک{% endblock %}

{% block body %}
<div class="container mt-3 p-3">
  <h3>پاسورڈ شموشتہ؟</h3>
  <p>جہالہ وتئی ای - میل اڈریس ءَ بلک ما ترا سر ءُ سوجاں ای - میل کنیں۔</p>

  <form method="POST" name="reset_password" id="reset_password">
    {% csrf_token %}
    <div class="form-group">
    <label for="id_email">ای - میل اڈریس</label>
    <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
    </div>
    <button type="submit" class="btn btn-dark">سینڈ ای - میل</button>
  </form>
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script>
    // Wait for the DOM to be ready
$(function() {
  $("form[name='reset_password']").validate({
    rules: {
      email: {
        required: true,
        email: true
      }
    },
    // Specify validation error messages
    messages: {
      email: {
        required: "Please provide a email address",
        email: "Enter a valid email address"
      }
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
});

</script>
{% endblock js %}