{% extends 'basic.html' %}

{% block title %}نوکیں پاسورڈ ءِ بجن | گنجانک{% endblock %}

{% block body %}
{% load i18n %}
<div class="container mt-4">
{% if validlink %}

<h3>نوکیں پاسورڈ ءِ بجن۔</h3>
<form method="POST" id="new_passeord" name="new_password">
  {% csrf_token %}
  <label for="id_new_password1" class="my-2">نوکیں  پاسورڈ</label>
   <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class="form-control">
  <ul>
  <li>تئی پاسورڈ کم از کم 8 لبز سرا مشتمل ببی۔</li>
  </ul>
  <label for="id_new_password2">نوکیں پاسورڈ ءَ پدا بجن</label>
   <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="form-control">
  <button type="submit" class="btn btn-dark mt-3 d-block">منی پاسورڈ ءَ بدل کن</button>
</form>

{% else %}

<p>{% trans "لنک کابل استعمال نہ اِنت ، بیتکاں کہ اے لنک پیسرا استعمال بتگ۔ پدا کوشش بکن۔" %}</p>

{% endif %}
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script>
    // Wait for the DOM to be ready
$(function() {
  $("form[name='new_password']").validate({
    rules: {
      new_password1: {
        required: true,
        minlength: 8
      },
      new_password2: {
        equalTo: "#id_new_password1"
      }
    },
    // Specify validation error messages
    messages: {
      new_password1: {
        required: "Please provide a password",
        minlength: "Password must be 8 character"
      },
      new_password2:{
        equalTo: "password does not match"
      }
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
});

</script>
{% endblock js %}