{% extends "basic.html" %}
 
{% block title %}
    پاسورڈ بدل کن | گنجانک
{% endblock %}
 
{% block body %}
 
    <div class="container">
        <h3 class="my-3">پاسورڈ بدل بکن</h3>
 
        <form action="{% url 'password_change' %}" method="post" name="password_change" id="password_change">
                {% csrf_token %}
    <div class="form-group">
    <label for="id_old_password">کوھانیں پاسورڈ</label>
    <input type="password" name="old_password" class="form-control" autocomplete="current-password" autofocus="" required="" id="id_old_password">
  </div>
  <div class="form-group">
    <label for="id_new_password1">نوکیں پاسورڈ</label>
    <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required="" id="id_new_password1">
  </div>
  <div class="form-group">
    <label for="id_new_password2">پدا نوکیں پاسورڈ</label>
    <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2">
  </div>
  <button type="submit" class="btn btn-dark">منی پاسورڈ ءَ بدل کن</button>
        </form>
    </div>
 
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script>
    // Wait for the DOM to be ready
$(function() {
  $("form[name='password_change']").validate({
    rules: {
      old_password:{
        required: true
      },
      new_password1: {
        required: true,
        minlength: 8
      },
      new_password2: {
        required: true,
        equalTo: "#id_new_password1"
      }
    },
    // Specify validation error messages
    messages: {
      old_password: "please provide old",
      new_password1: {
        required: "Please provide a password",
        minlength: "Password must be 8 character"
      },
      new_password2:{
        required: "enter new password again",
        equalTo: "password does not match"
      }
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
});

</script>
{% endblock js %}